<%-include('../includes/head.ejs')%>
</head>
<body>
    <%-include('../includes/navigation.ejs')%>
    <main>
        <%if(products.length > 0) {%>
            <table class="table" style="width: 100%;">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <%let totalPrice = 0%>
                    <% products.forEach((product) => { %>
                        <tr>
                            <td><%=product.title%></td>
                            <td><%=product.price%></td>
                            <td><%=product.cartItem.quantity%></td>
                            <th><%=product.cartItem.quantity * product.price%> MAD</th>
                            <td>
                                <button class="button is-danger is-outlined" style="float: right;" onclick="document.getElementById('deleteFromCart<%=product.id%>').submit()">
                                    <span>Delete</span>
                                    <span class="icon is-small">
                                      <i class="fas fa-times"></i>
                                    </span>
                                </button>
                                <form id="deleteFromCart<%=product.id%>" action="/delete-from-cart" method="POST">
                                    <input type="hidden" name="productId" value="<%=product.id%>">
                                </form>
                            </td>
                        </tr>
                        <%totalPrice += product.cartItem.quantity * product.price %>
                    <%}) %>
                    <tr>
                        <th colspan="3">Total</th>
                        <th><%=totalPrice%> MAD</th>
                    </tr>
                </tbody>
            </table>
        <%} else {%>
            <h1>Cart is empty</h1>
        <%} %>
    </main>
</body> 
</html>