<%-include('../includes/head.ejs')%>
</head>
<body>
    <%-include('../includes/navigation.ejs')%>
    <main>
        <%if(products.length > 0) {%>
            <% products.forEach((product, index) => { %>
                <%if(index % 5 == 0) { %>
                    <div class="columns">
                <%} %>
                <div class="column is-one-fifth">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="<%=product.imageUrl%>" alt="<%=product.title%>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4"><%=product.title%></p>
                            <p class="title is-3"><%=product.price%> MAD</p>
                            <div class="content"><div style="max-height: 70px; overflow: hidden;"><%=product.description%></div>...<a href="/product-details/<%=product._id%>">See more</a></div>
                        </div>
                        <footer class="card-footer">
                            <%if(isLoggedIn) {%>
                                <a href="javascript:document.getElementById('cartForm<%=product._id%>').submit()" class="card-footer-item">Add to cart</a>
                            <%}%>
                            <a href="/product-details/<%=product._id%>" class="card-footer-item">Details</a>
                        </footer>
                    </div>
                </div>
                <%if(index % 5 == 4 || index == products.length - 1) { %>
                    </div>
                <%} %>
                <%-include('../includes/add-to-cart-form.ejs', {productId: product._id})%>
            <%}) %>
            <div class="columns">
                <div class="column is-full">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                </nav>
                </div>
            </div>       
        <%} else {%>
            <h2>No products found</h2>
        <%}%>
    </main>
</body>
</html>