<%-include('../includes/head.ejs')%>
</head>
<body>
    <%-include('../includes/navigation.ejs')%>
    <main>
        <%if(products.length > 0) {%>
            <% products.forEach((product, index) => { %>
                <%if(index % 5 == 0) { %>
                    <div class="columns">
                <%} %>
                <div class="column is-one-fifth">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="<%=product.imageUrl%>" alt="<%=product.title%>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4"><%=product.title%></p>
                            <p class="title is-3"><%=product.price%> MAD</p>
                            <div class="content"><div style="max-height: 70px; overflow: hidden;"><%=product.description%></div>...<a href="/product-details/<%=product.id%>">See more</a></div>
                        </div>
                        <footer class="card-footer">
                            <a href="javascript:document.getElementById('cartForm<%=product.id%>').submit()" class="card-footer-item">Add to cart</a>
                            <a href="/product-details/<%=product.id%>" class="card-footer-item">Details</a>
                        </footer>
                    </div>
                </div>
                <%if(index % 5 == 4) { %>
                    </div>
                <%} %>
                <%-include('../includes/add-to-cart-form.ejs', {productId: product.id})%>
            <%}) %>
        <%} else {%>
            <h2>No products found</h2>
        <%}%>
    </main>
    
</body>
</html>